.App {
  text-align: center;
}



.country {
  box-shadow: 0 4px 8px 0 rgba(71, 150, 125, 0.2);
  transition: 0.5s;
  width: 300px;
  border-radius: 5px;
  margin: 15px;

}

.country:hover {
  box-shadow: 3px 8px 16px 10px rgba(210, 64, 64, 0.2);
}
img {
  border-radius: 5px 5px 0 0;
  height: 100px;
  width: 160px;

}
.cardContent,
.cardFooter {
  /* background-color: #464615; */
  padding: 2px 15px;
}

.cardContent {
 background-color: #C4DDFF;
}
.cardFooter {
  background-color: #7FB5FF;
}
.popup{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(71, 150, 125, 0.2);
  transition: 0.5s;
  width: 300px;
  border-radius: 5px;
  margin-left: 500px;
  margin-top: 500px;
  margin: 300px;
}

.popupheader {
  background-color: #a3ff7f;
}
.popupbody {
  background-color: #7fffa5;
}
.popupfooter {
  background-color: #ccff7f;
}
.container{
  background-color: black;opacity: 0.7;
  position: fixed;
  margin-left: 320px;
  
}

.hidden{
  /* right: 1px; */
  color:transparent;
  display: none;       
}
.popupheaderhidden{
  color: white;
}

.popupbodyhidden{
  color: white;

}.popupfooterhidden{
  color: white;
}

.containerhidden{
 
 position: absolute;

 left: 20px;
 opacity: 0.1;
  
}

/* .imghidden {
 color: white;
 img
} */

